In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [2]:
s1 = pd.Series(np.random.randn(6),index=list('abcdef'))
s1

a   -0.067443
b   -0.399739
c   -1.467349
d    1.876231
e    0.341602
f    0.646950
dtype: float64

In [5]:
s1[2:6]
s1.loc['c':]

c   -1.467349
d    1.876231
e    0.341602
f    0.646950
dtype: float64

In [6]:
df1 = pd.DataFrame(np.random.randn(6,4),
                    index=list('abcdef'),
                    columns=list('ABCD'))
df1

          A         B         C         D
a  0.469948  0.112612 -0.185620 -2.764285
b  0.391429  1.385052  1.427775  0.687552
c -1.046204 -1.073315 -1.007301 -0.769955
d -1.132581  1.625947 -0.792224 -1.548134
e -0.422505 -0.071463  0.435623  0.872197
f -0.382962 -0.138859  0.320807 -2.047238

In [7]:
df1.loc[['a','b','c'],:]

          A         B         C         D
a  0.469948  0.112612 -0.185620 -2.764285
b  0.391429  1.385052  1.427775  0.687552
c -1.046204 -1.073315 -1.007301 -0.769955

In [8]:
df1

          A         B         C         D
a  0.469948  0.112612 -0.185620 -2.764285
b  0.391429  1.385052  1.427775  0.687552
c -1.046204 -1.073315 -1.007301 -0.769955
d -1.132581  1.625947 -0.792224 -1.548134
e -0.422505 -0.071463  0.435623  0.872197
f -0.382962 -0.138859  0.320807 -2.047238

In [9]:
df1.loc[:,df1.loc['a'] > 0]

          A         B
a  0.469948  0.112612
b  0.391429  1.385052
c -1.046204 -1.073315
d -1.132581  1.625947
e -0.422505 -0.071463
f -0.382962 -0.138859

In [10]:

s1 = pd.Series(np.random.randn(5), index=list(range(0,10,2)))
s1

0   -1.284873
2   -1.422768
4    0.204585
6    0.957325
8    1.306353
dtype: float64

In [11]:

s1.iloc[:3]

0   -1.284873
2   -1.422768
4    0.204585
dtype: float64

In [12]:
s1.loc[:3]

0   -1.284873
2   -1.422768
dtype: float64

In [17]:
iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]
index = pd.MultiIndex.from_product(iterables, names=['first', 'second'])

In [20]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
           ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))
tuples
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [21]:
df = pd.DataFrame(np.random.randn(3, 8), index=['A', 'B', 'C'], columns=index)
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -0.286177  1.964031  1.105873 -0.990493 -0.275985 -0.358179 -1.226153
B       0.242178 -0.445105 -1.958092 -0.363007  0.081057 -0.174452 -0.066366
C      -1.313492  0.196384 -1.543337  1.007195 -0.927213  0.694255  0.503310

first
second       two
A      -0.382558
B      -1.936892
C       1.359752

In [22]:
frame = DataFrame(np.arange(12).reshape((4, 3)), 
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [35]:
f1 = frame['Ohio','Red']['b']
f2 = frame['Colorado', 'Green']['b']
l = [f1,f2]
pd.concat(l,axis = 1)  #or substitute whole thing frame.loc['b',[('Ohio','Red'),('Colorado','Green')]]

  Ohio Colorado
   Red    Green
1    7        8
2   10       11

In [36]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [38]:
frame.sortlevel(0)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [40]:

frame = DataFrame({'a': range(7), 'b': range(7, 0, -1),
    'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'],
    'd': [0, 1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [44]:

frame2 = frame.set_index(['c', 'd'],drop = False)
frame2

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

In [45]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2016, 11, 29, 20, 7, 14, 889704)

In [63]:

from datetime import timedelta
start = datetime(2016, 8 , 30) - datetime(2016, 8, 1)
start.days*3600

104400

In [ ]:
#for time convert the string to date time using set_index and then format it.

In [64]:

from datetime import datetime
import numpy as np
import pandas as pd
dates = [datetime(2016, 11, 1), datetime(2016, 11, 2), datetime(2016, 11, 7), 
         datetime(2016, 11, 8), datetime(2016, 11, 10), datetime(2016, 11, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2016-11-01   -0.243367
2016-11-02   -0.319491
2016-11-07   -2.766276
2016-11-08    0.554113
2016-11-10    0.444853
2016-11-12   -1.223999
dtype: float64

In [70]:

k = ts.resample('D').mean().ffill()
k

2016-11-01   -0.243367
2016-11-02   -0.319491
2016-11-03   -0.319491
2016-11-04   -0.319491
2016-11-05   -0.319491
2016-11-06   -0.319491
2016-11-07   -2.766276
2016-11-08    0.554113
2016-11-09    0.554113
2016-11-10    0.444853
2016-11-11    0.444853
2016-11-12   -1.223999
Freq: D, dtype: float64